@import "tailwindcss";

/* globals.css */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --highlight: #4f9bff;
  --border: #e0e0e0;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Arial', sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid var(--border);
}

th {
  background-color: var(--highlight);
  color: white;
}

tr:hover {
  background-color: #f1f1f1;
}